:root {
  --bg: rgba(247, 249, 251, 1);
  --blueblue-3: rgba(0, 119, 180, 1);
  --desktop-body-font-family: "NeueHaas Grotesk Display Std-Regular", Helvetica;
  --desktop-body-font-size: 14px;
  --desktop-body-font-style: normal;
  --desktop-body-font-weight: 400;
  --desktop-body-letter-spacing: 0px;
  --desktop-body-line-height: 16.799999237060547px;
  --desktop-button-extra-small-font-family: "NeueHaas Grotesk Display Std-Bold", Helvetica;
  --desktop-button-extra-small-font-size: 10px;
  --desktop-button-extra-small-font-style: normal;
  --desktop-button-extra-small-font-weight: 700;
  --desktop-button-extra-small-letter-spacing: 0px;
  --desktop-button-extra-small-line-height: normal;
  --desktop-button-small-font-family: "NeueHaas Grotesk Display Std-Bold", Helvetica;
  --desktop-button-small-font-size: 12px;
  --desktop-button-small-font-style: normal;
  --desktop-button-small-font-weight: 700;
  --desktop-button-small-letter-spacing: 0px;
  --desktop-button-small-line-height: normal;
  --desktop-caption-font-family: "NeueHaas Grotesk Display Std-Regular", Helvetica;
  --desktop-caption-font-size: 11px;
  --desktop-caption-font-style: normal;
  --desktop-caption-font-weight: 400;
  --desktop-caption-letter-spacing: 0px;
  --desktop-caption-line-height: 13.199999809265137px;
  --desktop-h3-font-family: "NeueHaas Grotesk Display Std-Bold", Helvetica;
  --desktop-h3-font-size: 32px;
  --desktop-h3-font-style: normal;
  --desktop-h3-font-weight: 700;
  --desktop-h3-letter-spacing: 0px;
  --desktop-h3-line-height: 30.399999618530273px;
  --desktop-h4-font-family: "NeueHaas Grotesk Display Std-Bold", Helvetica;
  --desktop-h4-font-size: 24px;
  --desktop-h4-font-style: normal;
  --desktop-h4-font-weight: 700;
  --desktop-h4-letter-spacing: 0px;
  --desktop-h4-line-height: 22.799999237060547px;
  --desktop-h5-font-family: "NeueHaas Grotesk Display Std-Bold", Helvetica;
  --desktop-h5-font-size: 20px;
  --desktop-h5-font-style: normal;
  --desktop-h5-font-weight: 700;
  --desktop-h5-letter-spacing: 0px;
  --desktop-h5-line-height: 19px;
  --desktop-h6-font-family: "NeueHaas Grotesk Display Std-Bold", Helvetica;
  --desktop-h6-font-size: 14px;
  --desktop-h6-font-style: normal;
  --desktop-h6-font-weight: 700;
  --desktop-h6-letter-spacing: 0px;
  --desktop-h6-line-height: 14.5px;
  --desktop-h6-regular-font-family: "NeueHaas Grotesk Display Std-Regular", Helvetica;
  --desktop-h6-regular-font-size: 14px;
  --desktop-h6-regular-font-style: normal;
  --desktop-h6-regular-font-weight: 400;
  --desktop-h6-regular-letter-spacing: 0px;
  --desktop-h6-regular-line-height: 14.5px;
  --desktop-label-font-family: "NeueHaas Grotesk Display Std-Regular", Helvetica;
  --desktop-label-font-size: 12px;
  --desktop-label-font-style: normal;
  --desktop-label-font-weight: 400;
  --desktop-label-letter-spacing: 0px;
  --desktop-label-line-height: normal;
  --desktop-title-font-family: "NeueHaas Grotesk Display Std-Regular", Helvetica;
  --desktop-title-font-size: 20px;
  --desktop-title-font-style: normal;
  --desktop-title-font-weight: 400;
  --desktop-title-letter-spacing: 0px;
  --desktop-title-line-height: 24px;
  --graygray-1: rgba(255, 255, 255, 1);
  --greengreen-3: rgba(0, 131, 48, 1);
  --grey-grey-1: rgba(255, 255, 255, 1);
  --grey-grey-6: rgba(0, 0, 0, 1);
  --greygrey-2: rgba(246, 246, 246, 1);
  --greygrey-3: rgba(216, 218, 218, 1);
  --greygrey-4: rgba(116, 118, 118, 1);
  --h7-font-family: "NeueHaas Grotesk Display Std-Regular", Helvetica;
  --h7-font-size: 10px;
  --h7-font-style: normal;
  --h7-font-weight: 400;
  --h7-letter-spacing: 0px;
  --h7-line-height: 11px;
  --orange-orange-2: rgba(243, 160, 87, 1);
  --orange-orange-3: rgba(237, 112, 0, 1);
  --redred-3: rgba(213, 43, 30, 1);
  --yellow-yellow-2: rgba(254, 211, 127, 1);
  --yellow-yellow-3: rgba(255, 188, 61, 1);
}
