.atoms-icon-2019-close-20 {
    width: 8px !important;
    height: 8px !important;
    position: absolute !important;
    top: 0px !important;
    right: 5px !important;
    left: inherit !important;
}

.local-status-card .text-wrapper-32{margin-top:-20px !important;} 

.error-message .text-wrapper-59{top:6px !important;}

.linkTo_HomePage {
    position: absolute;
    top: 60px;
    left: 9px;
    background: red;
    z-index: 9;
    width: 60px;
    height: 15px;
    opacity: 0;
}

.pagination-4,.pagination-5,.pagination-6,.pagination-7,.pagination-8 {
    background-color: var(--grey-grey-1);
    align-self: stretch;
    align-items: center;
    gap: 0 !important;
    margin-bottom: -4px;
    padding: 0 !important;
    display: flex;
    position: relative;
}

.tab-items .icon-close{display: none !important;}

/* .group-wrapper-2, .error-warning-option-2, .cell-text-6{padding:3px 87px 3px 5px !important;}
.error-warning-option{padding:3px 55px 3px 5px !important;} */